{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block main %}
    <div class="text-center fs-3 mt-5">公司新闻</div>
    <div class="text-center fs-6 text-body-tertiary">COMPANY NEWS</div>
    <div class="container my-5">
        <div class="row">

{{ include('newslist.html.twig') }}
          
        </div>
      </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item {{ page == 1 ? 'disabled'}}">
        <a class="page-link" href="?p={{ page - 1}}"> < </a>
      </li>
      {% for i in 1..page_count %}
      <li class="page-item {{ loop.index == page ? 'active'}}">
        <a class="page-link" href="?p={{ loop.index }}">{{ loop.index }}</a>
      </li>
      {% endfor %}
      <li class="page-item {{ page == page_count ? 'disabled'}}">
        <a class="page-link" href="?p={{ page + 1}}"> > </a>
      </li>
    </ul>
  </nav>
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
    {% endblock %}
