    <div class="gray-label-text text-center py-3 mt-5">
      <h1 class="fw-bold">{{ request.title }}</h1>
    </div>
    <!-- form -->
    <div class="container contact">
        <h1 class="form-heading mt-5">{{ request.summary }}</h1>
        <form action="/feedback/new" method="post" role="form" class="php-email-form">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" name="firstname" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-firstname" placeholder="{{ 'First Name'|trans }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" name="lastname" class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-lastname" placeholder="{{ 'Last Name'|trans }}">
                    </div>                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="email" name="email" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-email" placeholder="{{ 'Email'|trans }}">
                    </div>                </div>
                <div class="col-md-6">
                    <input type="text" name="phone" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-phone" placeholder="{{ 'Tel'|trans }}">
                </div>
                <div class="col-md-6">
                    <select name="pid" class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                    {% for p in products %}
                        <option value="{{ p.id }}">{{ p.title }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <select id="countries" name="country" class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                        <option selected>{{ 'Country/Region'|trans }}</option>
                    </select>
                </div>
                <div class="input-group mt-4">
                    <textarea name="body" rows="10" required class="form-control remove-focus-outline rounded-0" aria-label="需求描述 With textarea" placeholder="{{ 'Describe Your Needs'|trans }}"></textarea>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input rounded-0" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                  {{ 'I agree to the Terms of Service.'|trans }}
                </label>
              </div>
              <div class="bottom-text">
                {{ 'We will respect your privacy and keep the personal information you provide strictly confidential.'|trans }}
              </div>

            <div class="my-3">
              <div class="loading">{{ 'Loading...'|trans }}</div>
              <div class="error-message"></div>
              <div class="sent-message">{{ 'Message sent. Thank you for your feedback!'|trans }}</div>
            </div>

            <!-- Additional form fields can be added here -->
            <div class="form-btn d-flex justify-content-center mt-4">
                <button type="submit" class="btn py-2">{{ 'Submit'|trans }}</button>
            </div>
        </form>
    </div>

    <script>
    async function getCountries() {
      const response = await fetch("/js/countryCode.json");
      const countries = await response.json();
      let s = document.querySelector('#countries');
      for (let c of countries) {
        let e = document.createElement('option')
        e.value = c.chinese_name;
        if (window.location.pathname.indexOf('/cn/') === 0) {
          e.innerText = c.chinese_name;
        } else {
          e.innerText = c.english_name;
        }
        s.appendChild(e);
      }
    }
    getCountries();
    </script>
